.DS_Store
*/.DS_Store

*.o
*/*.o

Makefile
config.h
config.log
config.status
doc/Doxyfile
doc/Makefile
doc/html/
doc/latex/
doc/man/
examples/Makefile
examples/.libs/
examples/mtp-albumart
examples/mtp-albums
examples/mtp-connect
examples/mtp-detect
examples/mtp-emptyfolders
examples/mtp-files
examples/mtp-filetree
examples/mtp-folders
examples/mtp-format
examples/mtp-getplaylist
examples/mtp-newplaylist
examples/mtp-playlists
examples/mtp-reset
examples/mtp-thumb
examples/mtp-tracks
examples/mtp-trexist
hotplug.sh
libtool
src/Makefile
src/.libs/
src/libmtp.la
src/libmtp_la-libmtp.lo
src/libmtp_la-libusb1-glue.lo
src/libmtp_la-mtpz.lo
src/libmtp_la-playlist-spl.lo
src/libmtp_la-ptp.lo
src/libmtp_la-unicode.lo
src/libmtp_la-util.lo
stamp-h1
util/Makefile
